{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block content %}
    <h1>{{ header }}</h1>
    <form action="" method="post" enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.categories.label }}<br>
            {{ form.categories(class="selectpicker", multiple=True) }}<br>
            {% for error in form.categories.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.is_user_author(type="checkbox") }} {{ form.is_user_author.label }}
            <br>
        </p>
        <p>
            {{ form.price.label }}:   {{ form.price(type="number") }} <br>
            {% for error in form.stock.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.stock.label }}:   {{ form.stock(type="number") }} <br>
            {% for error in form.stock.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.release_date.label }}<br>
            {{ form.release_date(class="form-control", type="date") }}<br>
            {% for error in form.release_date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}  {{ form.image() }}
            {% for error in form.image.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}  {{ form.content() }}
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}