<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
    {% block head %}{% endblock %}

</head>
<body>
<header>
    <nav class="navbar navbar-light bg-secondary">
        <div class="container-fluid" style="padding: 0 !important">
            <div class="row" style="width:100%">
                <a class="navbar-brand col-auto" href="/">BookQ</a>
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand col-auto" href="/book">Add Book</a>
                    <div class="col"></div>
                    <a class="btn btn-warning col-auto" href="/user_page/{{ current_user.id }}">{{ current_user.username }}</a>
                    <a class="btn btn-danger col-auto" href="/logout">Выйти</a>
                {% else %}
                    <div class="col"></div>
                    <a class="btn btn-success col-auto" href="/login">Войти</a>
                    <a class="btn btn-primary col-auto" href="/register">Зарегистрироваться</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>