{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
{% for item in books %}
    {% if loop.index0 is divisibleby(3)%}
        <div class="row border">
    {% endif %}
            <div class="card" style="width: 18rem;">
                <a href="/view_book/{{ item.id }}"><img src="/static/{{ item.image_path }}" class="card-img-top" alt="Image Not Found" onerror=this.src="/static/img/placeholder.png"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text">{{ item.author_name }}</p>
                    <a href="/view_book/{{ item.id }}" class="btn btn-primary">About</a>
                </div>
            </div>
    {% if loop.index is divisibleby(3)%}
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}