{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding: 0 !important">
    <div class="row justify-content-start">
        {% for item in books %}
                <div class="col-sm-4 card" style="width: 18rem;">
                    <a href="/view_book/{{ item.id }}"><img src="/static/{{ item.image_path }}" class="card-img-top border rounded" alt="Image Not Found" onerror=this.src="/static/img/placeholder.png"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text">{{ item.author.last_name }} {{ item.author.first_name }}</p>
                        <a href="/view_book/{{ item.id }}" class="btn btn-primary">About</a>
                        {% if current_user not in item.users %}
                            <a href="/add_book_to_cart/{{ item.id }}" class="btn btn-success">Add<i class="fa fa-shopping-cart"></i></a>
                        {% else %}
                            <a href="/delete_book_from_cart/{{ item.id }}" class="btn btn-danger">Remove<i class="fa fa-shopping-cart"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% if loop.index is divisibleby(3)%}
                <div class="w-100"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}