{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="/static/img/placeholder.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{ user.name }}</h4>
                            <i class="bi-mailbox"></i>: {{ user.email }}</br>
                            <i class="bi-globe"></i>: {{ user.username }}</br>
                            <i class="bi-person"></i>: {{ user.last_name }} {{ user.first_name }}</br>
                            <i class="bi-credit-card"></i>: {{ user.balance }}₽</br>
                            <p class="border">{{ user.about }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2> Owned: </h2>
    <div>
        <div class="row justify-content-start">
            {% for item in bought_books %}
                <div class="col-sm-3 card" style="width: 9rem;">
                    <a href="/view_book/{{ item.id }}"><img src="/static/img/{{ item.image_path }}" class="card-img-top" alt="Image Not Found" onerror=this.src="/static/img/placeholder.png"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text">{{ item.author_name }}</p>
                        <a href="/view_book/{{ item.id }}" class="btn btn-primary">Details</a>
                        <a href="/download_book/{{ item.id }}" class="btn btn-success col-auto">Download</a>
                    </div>
                </div>
            {% if loop.index is divisibleby(3)%}
                <div class="w-100"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
