{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row border border-info rounded">
        <img class="img-rounded col-sm-3 border" src="/static/{{ book.image_path }}">
        <div class="col">
            <p class="col">Титул: {{ book.title }}</p>
            <p class="col">Автор: {{ book.author.last_name }} {{ book.author.first_name }}</p>
            <p class="col">Стоимость: {{ book.price }}</p>
            <p class="col">Дата издания: {{ book.release_date }}</p>
        </div>
    </div>
    <h4 class="row">Описание</h4>
    <div class="row-sm-4">
        <p class="col">{{ book.description }}</p>
    </div>
    {% if current_user.is_authenticated %}
    <div class="row-sm-4">
        <p></p>
    </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Содержание книг доступно только зарегестрированным пользователям <a class="alert-link" href="/login">Войти</a>
        </div>
    {% endif %}
    {% if current_user.id == book.author_id %}
        <div class="row justify-content-center">
            <a href="/book/{{ book.id }}" class="btn btn-warning col-auto">
                Изменить
            </a>
            <a href="/book_delete/{{ book.id }}" class="btn btn-danger col-auto">
                Удалить
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
