{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row border border-info rounded">
        <img class="img-rounded col-sm-3 border" src="/static/img/{{ book.image_path }}">
        <div class="col">
            <p class="col">Title: {{ book.title }}</p>
            <p class="col">Author: {{ book.author.last_name }} {{ book.author.first_name }}</p>
            <p class="col">Cost: {{ book.price }}₽</p>
            <p class="col">In stock: {{ book.stock }}</p>
            <p class="col">Released: {{ book.release_date }}</p>
        </div>
    </div>
    <h4 class="row">Description</h4>
    <div class="row-sm-4">
        <p class="col">{{ book.description }}</p>
    </div>
    {% if current_user.is_authenticated %}
    <div class="row-sm-4">
        <p></p>
    </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            To buy a book you need to <a class="alert-link" href="/login">sign in</a>
        </div>
    {% endif %}
    <div class="row justify-content-start">
    {% if current_user.author.id == book.author_id %}
        <a href="/book/{{ book.id }}" class="btn btn-warning col-auto">
            Edit
        </a>
        <a href="/book_delete/{{ book.id }}" class="btn btn-danger col-auto">
            Remove
        </a>
    {% endif %}
    {% if book in bought_books or book.author_id == current_user.author.id %}
        <a href="/download_book/{{ book.id }}" class="btn btn-success col-auto">Download</a>
    {% endif %}
    </div>
</div>
{% endblock %}
